body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

p {
    display: inline !important;
    line-height: 1.5 !important;
    margin-block-end: -0.1em !important;
    margin-block-start: 0.1em !important;
}

a {
    color: #27b9a3; /* 将颜色更改为红色 */
    text-decoration: none; /* 移除下划线 */
}

/* 修改鼠标悬停时的颜色 */
a:hover {
    color: #176754; /* 将颜色更改为绿色 */
}

.my-ordered-list {
    list-style-type: decimal;
    margin-left: -1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    line-height: 1.2;
}

.my-bullet-list {
    list-style-type: disc;
    margin-left: -1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    line-height: 1.2;
}

.my-list-item {
    margin-bottom: 0.5em;
}


.parent {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    grid-template-columns: 200px repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: calc(100vh - 15px);

}


.div1 {
    grid-area: 1 / 1 / 5 / 2;
    background-color: #ffffff;
    width: 200px;
    border-top-left-radius: 6px;
    border-right: 1px solid #ccc;

}

.div2 {
    grid-area: 5 / 1 / 6 / 2;
    background-color: #ffffff;
    width: 200px;
    border-bottom-left-radius: 6px;
    border-right: 1px solid #ccc;
}

.div3 {
    grid-area: 1 / 2 / 6 / 5;
    border-right: 1px solid #ccc;

}

.input {
    width: calc(100% - 20px);
    height: calc(100vh - 35px);
    border: 2px solid green;
    outline: none;
    font: 14px 微软雅黑;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;

}


.div4 {
    grid-area: 1 / 5 / 6 / 8;
    border-left: 1px solid #ccc;
}


.output {
    width: calc(100% - 20px);
    height: calc(100vh - 35px);
    border: 2px solid green;
    outline: none;
    font: 14px 微软雅黑;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
}


.menu {
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: auto;
}

.menu-div {

    border: 1px solid #c2bfbf;
    border-radius: 6px;
    text-align: left;
    padding: 10px 20px;
    font: 14px 微软雅黑;
    height: 20px;
    margin-bottom: 10px;
    justify-content: center;
    flex-shrink: 0;
}

.menu-div.selected {
    border: 1px solid #4b9e5f;
    color: #4b9e5f;

}

.menu-div:hover {
    color: #4b9e5f !important;
}


.button-div {
    background-color: #ffffff;

    border: 1px solid #4b9e5f;
    font: 14px 微软雅黑;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    margin: 20px;
    transition: background-color 0.3s ease;
}

.button-div:hover {
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* 添加此行 */
}

::-webkit-scrollbar {
    color: #fff;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(178, 178, 178, 0.4);
    border-radius: 4px;
}

.color-buttons {
    display: flex;
    justify-content: center;
     gap: 50px;
    margin-bottom: 15px;
}

.color-buttons button {
    margin: 0 5px;
}

#image-container img {
    max-width: 100%; /* 限制图片宽度 */
    height: auto; /* 保持纵横比 */
    max-height: 100%; /* 限制图片宽度 */
}


/* Add the following to your existing CSS */
.toggle-button {
    display: none;
    position: fixed;
    left: 8%;
    z-index: 1000;
    font-size: 18px;
    padding: 10px 15px;
    background-color: transparent; /* 添加这一行 */
    color: #333; /* 添加这一行 */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 1s ease;


}

.toggle-button:before {

    position: relative;

}

.share-button {
    display: none;
    position: fixed;
    right: 8%;
    z-index: 1000;
    font-size: 18px;
    padding: 10px 15px;
    background-color: transparent; /* 添加这一行 */
    color: #333; /* 添加这一行 */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 1s ease;


}

.share-button:before {

    position: relative;

}

.title-bar {
    display: none;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;


}

@media screen and (max-width: 700px) {
    .parent {
        height: calc(100vh - 80px);
        grid-template-columns: repeat(4, 1fr); /* 修改列数和列宽度 */
        grid-template-rows:auto auto repeat(2, 1fr); /* 修改行高度 */
    }

    .div3 {
        grid-area: 1 / 2 / 3 / 8;
        border-right: none !important;


    }

    .div4 {
        grid-area: 4 / 2 / 6 / 8;
        border-left: none !important;
        position: relative;
        top: -70px; /* 将 .div4 向上移动10px */

    }

    .input {

        height: calc(50vh - 75px);


    }

    .output {

        height: calc(50vh - 75px);
        margin-top: -80px;

    }

    .title-bar, .share-button, .toggle-button {

        display: flex;
        align-items: center;
    }

    .toggle-button {

        margin-left: -20px;
    }

    .share-button {
        margin-right: -20px;
    }


    .parent.collapsed .div1,
    .parent.collapsed .div2 {
        display: none;
        transition: transform 0.3s ease;
    }

    .user .message::after, .reply .message::before {
        display: none;
    }


    .parent.collapsed .div3,
    .parent.collapsed .div4,
    .parent.collapsed .div5,
    .parent.collapsed .div6 { /* Add this line */
        grid-column-start: 1;
        transition: transform 0.3s ease;
    }

    .div5 {
        margin-bottom: 50px;
    }

    .div6 {
        grid-row-start: unset !important; /* 移除默认的行起始位置设置，这将允许我们自由控制元素的位置和大小 */
        top: 50%; /* 将元素向下移动，使其顶部与父容器高度的一半对齐 */
        height: 50% !important; /* 设置元素高度为父容器的50% */
    }
}



.div5::-webkit-scrollbar {
    width: 5px;
}

.div5::-webkit-scrollbar-track {
    background-color: transparent;
}

.div5::-webkit-scrollbar-thumb {
    background-color: rgba(178, 178, 178, 0.4);
    border-radius: 4px;
}



.div5 {
    grid-area: 1 / 2 / 5 / 8;
    overflow-y: scroll;
    border-radius: 6px;
    position: relative;
}

.div6 {
    grid-area: 5 / 2 / 6 / 8;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    padding-bottom: 20px; /* 添加此行 */
    justify-content: space-between;
    height: auto; /* 修改此行 */
}


#messageInput {
    padding: 10px;
    resize: none;
    overflow-y: auto;
    width: calc(100% - 50px);
    margin-top: 8px;

    font: 14px 微软雅黑;
    border-radius: 6px;
    bottom: 200px; /* 设置输入框与浏览器窗口底边的距离 */
    border: 1px solid #ccc;
    outline: none;
    position: fixed; /* 添加此行，将 messageInput 设置为固定定位 */

}





#messageInput:focus {
    border-color: green;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* 添加此行 */
}


.messageInputWrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: calc(100%);

    justify-content: center;

    height: 100%; /* 修改此行 */

}


.chat {
    display: flex;
    margin: 5px;
    align-items: flex-start;
    border-radius: 6px;
    min-height: 37px;
}

.chat img {
    width: 37px;
    height: 37px;
    margin-right: 5px;
    border-radius: 50%;
    margin-top: 20px;
}

.time {
    display: block;
    position: relative;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    background-color: transparent;
    /*justify-content: center;*/
    text-align: center;
    color: #666;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.user {
    justify-content: flex-end;
}

.user img {
    margin-right: 0;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 50%;
}

.message {
    padding: 9.5px;
    border-radius: 6px;
    max-width: calc(100% - 104px);
    word-wrap: break-word;
    position: relative; /* 添加此行 */
    font: 14px 微软雅黑;
    white-space: pre-wrap;
    align-items: flex-start;

}

.user .message {
    background-color: #d2f9d1;
    margin-top: 20px;
}

.reply .message {
    background-color: #f4f6f8;
    margin-top: 20px;
}


/*@media screen and (min-width: 701px) {*/
/*    .site-selection {*/
/*        transform: translateX(30px);*/
/*        left: calc(50% - 50%);*/
/*    }*/
/*}*/

/*.site-selection {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-bottom: 10px;*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    z-index: 100;*/
/*}*/

.site-selection label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 40px;
}

.site-selection select {

    border-radius: 4px;
    border: 1px solid #ccc;

    padding: 5px 10px;
    font-size: 14px;
    outline: none;

    background-color: white; /* 背景颜色 */
}


/* 改变选中文本的样式 */
::selection {
    background-color: rgba(0, 123, 255, 0.5); /* 透明度为0.5的蓝色背景 */
    color: white; /* 选中文本的颜色 */
}


.user .message::after, .reply .message::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

.user .message::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #d2f9d1;
    border-right: none;
    top: 12px; /* 修改此处 */
    right: -4px; /* 修改此处 */
}

.placeholder-cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #000;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        visibility: hidden;
    }
}


.reply .message::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #f4f6f8;
    border-left: none;
    top: 12px; /* 修改此处 */
    left: -4px;
}

.copy-code-wrapper {
    position: absolute;
    top: 0;
    right: 5px;
    margin: 5px;
    font: 12px 微软雅黑;
    color: #000900;

}

.copy-code-wrapper:hover {
    color: #04912e;
}

.copy-code {
    cursor: pointer;
}

pre {
    position: relative;
    background-color: #fcfcfc;
    padding: 30px;
    border-radius: 6px;
    margin-top: 10px;
    overflow-x: auto; /* 添加横向滚动条 */
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace, 'Microsoft Yahei' !important;
    font-size: 14px; /* 修改为您喜欢的字号 */
    /*line-height: 1.5; !* 修改为您喜欢的行高 *!*/

}

pre::-webkit-scrollbar {
    height: 5px !important;
}

pre::-webkit-scrollbar-track {
    background-color: transparent !important;
    border-radius: 15px !important;
}

pre::-webkit-scrollbar-thumb {
    background-color: rgba(178, 178, 178, 0.4) !important;
    border-radius: 4px !important;
}

/* 通用覆盖样式 */
.hljs strong,
.hljs b,
.hljs em,
.hljs i {
    font-weight: normal !important;
}

/* 针对特定语法高亮类的覆盖样式 */
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link,
.hljs-function,
.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong,
.hljs-emphasis,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-built_in,
.hljs-formula {
    font-weight: normal !important;
    font-style: normal !important;
}


code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace, 'Microsoft Yahei' !important;
    font-size: 13px !important;
    line-height: 1.5 !important;
    font-weight: normal !important;
    word-break: normal;
}

.light-theme,
.light-theme .menu,
.light-theme .menu-div,
.light-theme .div1,
.light-theme .div2,
.light-theme .button-div,
.light-theme .messageInputWrapper textarea,
.light-theme .input,
.light-theme .output {
    background-color: #ffffff;
    color: #000000;
}

.light-theme .button-div:hover {
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* 添加此行 */
}

.light-theme .title-bar {
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #ccc
}

.light-theme .toggle-button {
    background-color: transparent;
    color: #000000;
}

.light-theme .share-button {
    background-color: transparent;
    color: #000000;
}

.light-theme .site-selection select {
    background-color: #ffffff;
}

.dark-theme,
.dark-theme .menu,
.dark-theme .menu-div,
.dark-theme .div1,
.dark-theme .div2,
.dark-theme .button-div,
.dark-theme .messageInputWrapper textarea,
.dark-theme .input,
.dark-theme .output {
    background-color: #444654;
    color: #ffffff;
}

.dark-theme .user .message {
    color: #000000;
}

.dark-theme .button-div:hover {
    box-shadow: 0 0 5px rgba(30, 208, 155, 0.5); /* 添加此行 */
}

.dark-theme .reply .message {
    background-color: #414146;
}

.dark-theme .reply .message::before {
    border-right-color: #414146;
}

.dark-theme pre {
    background-color: #393941;
}

.dark-theme .copy-code-wrapper {
    color: #d5d5c4
}

.dark-theme .copy-code-wrapper:hover {
    color: #04912e;
}

.dark-theme .layui-layer-content {
    background-color: #444654 !important;
    color: #ffffff !important;
}

.dark-theme .layui-layer-ico {
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.dark-theme .title-bar {
    background-color: #444654;
    color: #ffffff;
    border-bottom: 1px solid #ccc
}

.dark-theme .toggle-button {
    background-color: transparent;
    color: #ffffff;
}

.dark-theme .share-button {
    background-color: transparent;
    color: #ffffff;
}

.dark-theme .site-selection select {
    background-color: #414146;
    color: #ffffff;
}

.light-theme .hljs-theme-light,
.dark-theme .hljs-theme-dark {
    display: block;
}

.light-theme .hljs-theme-dark,
.dark-theme .hljs-theme-light {
    display: none;
}

.dark-theme .hljs-keyword,.dark-theme .hljs-operator,.dark-theme .hljs-pattern-match {
    color: #f92672
}

.dark-theme .hljs-function,.dark-theme .hljs-pattern-match .hljs-constructor {
    color: #61aeee
}

.dark-theme .hljs-function .hljs-params {
    color: #a6e22e
}

.dark-theme .hljs-function,.dark-theme .hljs-params,.dark-theme .hljs-typing {
    color: #fd971f
}

.dark-theme .hljs-module-access .hljs-module {
    color: #7e57c2
}

.dark-theme .hljs-constructor {
    color: #e2b93d
}

.dark-theme .hljs-constructor .hljs-string {
    color: #9ccc65
}

.dark-theme .hljs-comment,.dark-theme .hljs-quote {
    color: #a0a1a7;
    font-style: normal
}

.dark-theme .hljs-doctag,.dark-theme .hljs-formula {
    color: #c678dd
}

.dark-theme .hljs-deletion,.dark-theme .hljs-name,.dark-theme .hljs-section,.dark-theme .hljs-selector-tag,.dark-theme .hljs-subst {
    color: #e06c75
}

.dark-theme .hljs-literal {
    color: #56b6c2
}

.dark-theme .hljs-addition,.dark-theme .hljs-attribute,.dark-theme .hljs-meta .hljs-string,.dark-theme .hljs-regexp,.dark-theme .hljs-string {
    color: #98c379
}

.dark-theme .hljs-built_in,.dark-theme .hljs-class .hljs-title,.dark-theme .hljs-title.class_ {
    color: #e6c07b
}

.dark-theme .hljs-attr,.dark-theme .hljs-number,.dark-theme .hljs-selector-attr,.dark-theme .hljs-selector-class,.dark-theme .hljs-selector-pseudo,.dark-theme .hljs-template-variable,.dark-theme .hljs-type,.dark-theme .hljs-variable {
    color: #d19a66
}

.dark-theme .hljs-bullet,.dark-theme .hljs-link,.dark-theme .hljs-meta,.dark-theme .hljs-selector-id,.dark-theme .hljs-symbol,.dark-theme .hljs-title {
    color: #61aeee
}

.dark-theme .hljs-emphasis {
    font-style: normal
}

.dark-theme .hljs-strong {
    font-weight: 700
}

.dark-theme .hljs-link {
    text-decoration: underline
}


.light-theme .hljs-comment,.light-theme .hljs-quote {
    color: #a0a1a7;
    font-style: normal
}

.light-theme .hljs-params {
    color: #fd971f
}

.light-theme .hljs-doctag,.light-theme .hljs-formula,.light-theme .hljs-keyword {
    color: #a626a4
}

.light-theme .hljs-deletion,.light-theme .hljs-name,.light-theme .hljs-section,.light-theme .hljs-selector-tag,.light-theme .hljs-subst {
    color: #e45649
}

.light-theme .hljs-literal {
    color: #0184bb
}

.light-theme .hljs-addition,.light-theme .hljs-attribute,.light-theme .hljs-meta .hljs-string,.light-theme .hljs-regexp,.light-theme .hljs-string {
    color: #50a14f
}

.light-theme .hljs-attr,.light-theme .hljs-number,.light-theme .hljs-selector-attr,.light-theme .hljs-selector-class,.light-theme .hljs-selector-pseudo,.light-theme .hljs-template-variable,.light-theme .hljs-type,.light-theme .hljs-variable {
    color: #986801
}

.light-theme .hljs-bullet,.light-theme .hljs-link,.light-theme .hljs-meta,.light-theme .hljs-selector-id,.light-theme .hljs-symbol,.light-theme .hljs-title {
    color: #4078f2
}

.light-theme .hljs-built_in,.light-theme .hljs-class .hljs-title,.light-theme .hljs-title.class_ {
    color: #c18401
}

.light-theme .hljs-emphasis {
    font-style: normal
}

.light-theme .hljs-strong {
    font-weight: 700
}

.light-theme .hljs-link {
    text-decoration: underline
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
     opacity: 0; /* 初始是隐藏的 */
    transition: opacity 0.3s ease-in-out;



    background-color: rgba(0, 0, 0, 0.4);
}
.modal-show {
    opacity: 1; /* 显示弹窗时的状态 */
    /* transition属性在.modal中已定义，此处无需再次定义 */
}

.model-label {
    flex-shrink: 0;
    margin-right: 1rem;
    margin-left: 20px;

}

.model-label-custom {
    margin-bottom: 3px;
    font-size: 16px;
}

h5 {
    font-weight: normal;
}


.modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    max-width: 50%;
    border: 1px solid #888;
    color: #333;
    border-radius: 6px;
    width: 80%;
    z-index: 1001;
}

@media screen and (max-width: 700px) {
    .modal-content {
        max-width: 70%;
    }
}

.close {
    color: #aaaaaa;
    float: right;
    top: -10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.custom-context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.menu-option {
    cursor: pointer;
    padding: 4px 8px;
    font: 12px 微软雅黑;
}

.menu-option:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
}

/* Light theme */
.light-theme .custom-context-menu {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
}

.light-theme .custom-context-menu:hover {
    background-color: #f0f0f0;
}

.light-theme .menu-option:hover {
    background-color: #e5e5e5;
}

/* Dark theme */
.dark-theme .custom-context-menu {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

.dark-theme .custom-context-menu:hover {
    background-color: #444444;
}

.dark-theme .menu-option:hover {
    background-color: #555555;
}

.dark-theme .template-popup {
    background-color: #444654;
}

.dark-theme .template-popup li:hover {
    background-color: #414146;
}

.dark-theme .modal-window {
    background-color: #414146;
}

.dark-theme .modal-content {
    background-color: #444654;
    color: #ffffff;
}


/* 深色主题 */
.light-theme .black-icon {
    background-color: #fff;
}

.dark-theme .white-icon {
    background-color: #414146;
}


.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0; /* 初始是隐藏的 */
    transition: opacity 0.3s ease-in-out;
}
.custom-modal-show {
    opacity: 1; /* 显示弹窗时的状态 */
    /* transition属性在.modal中已定义，此处无需再次定义 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 4px;
    width: 70%;
    position: relative;
}

.close {
    cursor: pointer;
    font-size: 28px;
    float: right;
    margin-left: -20px;
}


.template-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #5fcba8;
    padding: 8px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 6px;
    font-size: 13px;
    line-height: 2;


}


.template-popup ul {
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    margin-top: -5px;
    margin-bottom: -5px;
}

.template-popup li {
    cursor: pointer;

}

.template-popup li:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
}

hr {
    border: none;
    border-top: solid 1px #ccc;
}

.options-container {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.option:last-child {
    margin-right: 0; /* 移除最后一个选项的右边距 */
}

.color-options {
    display: flex;
    align-items: center;
}

.color-option {
    margin-right: 1rem;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #7c7777;
    border-radius: 4px;
}

.color-option:last-child {
    margin-left: 20px; /* 移除最后一个选项的右边距 */
}

.color-option.selected {
    border: 1.5px solid #4b9e5f;
}


.option + .option {
    margin-top: 10px;

}

.dark-theme .custom-dropdown {
    background-color: #414146;
}

.dark-theme .dropdown-btn {
    background-color: #444654;
}

.dark-theme .dropdown-content {
    background-color: #414146;
}

.light-theme .custom-dropdown {
    background-color: #fefefe;
}

.light-theme .dropdown-btn {
    background-color: #fefefe;
}

.light-theme .dropdown-content {
    background-color: #fefefe;
}

.dropdown-content {
    background-color: #fefefe;
}

.custom-dropdown {
    position: relative;
    display: inline-block;

}


.dropdown-btn {
    cursor: pointer;
    border: 1px solid #7c7777;
    padding: 10px;
    min-width: 120px;
    border-radius: 6px;
}


.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 15px;
    line-height: 1.5;
    border-radius: 6px;
    min-width: 120px;
    padding: 10px;
    border: 1px solid #252626;
}


.dropdown-content > div {
    cursor: default;
}

.dropdown-content > div:hover {
    color: #4b9e5f !important;
}

.close {
    float: right;
    margin-top: -8px;
    cursor: pointer
}

.close svg {
    width: 18px;
    height: auto;
    fill: #aaa;
    z-index: 2000;
}

.right-bottom-button {
    background-color: #63e2b7;
    border: none;
    border-radius: 4px;
    padding: 8px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}



.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  margin-top: 20px;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  border-left: 1px dashed #eee8e8;
  background: none;
}


.timeline-event {
  position: relative;
  margin-bottom: 50px;
    line-height: 1.667;
    max-height: 300px;      /* 设置最大高度 */
    overflow-y: auto;       /* 设置当内容超出容器时显示垂直滚动条 */
}
.event {
    margin-bottom: 20px;
}


.timeline-icon {
  position: absolute;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #49d4aa;
}

.timeline-date {
  margin-left: 20px;

    color: #999999;
    font-size: 12px;
    line-height: 1.667
}

.timeline-description {
  margin-left: 20px;
    display: block;

}
.timeline-img {
  margin-left: 20px;
    display: block;

}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.right-bottom-button {
  // 按钮样式
}
@media screen and (min-width: 700px) {
    #niticemodelcontent {
        top: -150px
    }
}

.confirm-box {
  position:absolute;
  z-index:10;
  background-color:#ffffff;
  border:1px solid #4b9e5f;
  font:14px 微软雅黑;
  padding:10px 20px;
  border-radius:6px;
  text-align:center;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
  cursor:pointer;
  width:118px;
  margin-left:20px;
  margin-top:-150px;

    opacity: 0;
    transition: opacity 0.3s ease-out;
}


.confirm-box.show {
    opacity: 1;
}


.confirm-box::before {
  content: "";
  position: absolute;
  top: 100%; /* Position it at the bottom of the confirm-box */
  left: 50%; /* Center it horizontaly */
  /* To create the arrow */
  border: solid transparent;

  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  /* Adjust these values to change the size of the arrow */
  border-color: transparent;
  border-top-color: #4b9e5f; /* Same color as the border of the .confirm-box */
  border-width: 11px; /* Make this slightly bigger than the actual arrow */
  margin-left: -11px; /* This value should be negative half of border-width to center the arrow */

}



.confirm-box::after {
  content: "";
  position: absolute;
  top: 100%; /* Position it at the bottom of the confirm-box */
  left: 50%; /* Center it horizontaly */
  /* To create the arrow */
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  /* Adjust these values to change the size of the arrow */
  border-color: transparent;
  border-top-color: #ffffff; /* Same color as the background of the .confirm-box */
  border-width: 10px; /* This creates the actual arrow */
  margin-left: -10px; /* This value should be negative half of border-width to center the arrow */
}



.confirm-btn-n {
  margin-top: 10px;
    border-radius: 2px;
 height: 25px;
    justify-content: right;
margin-right: 20px;
    border: 1px solid #4b9e5f;
background-color: #ffffff;
}


.confirm-btn-y {
  margin-top: 10px;
    border-radius: 2px;
    height: 25px;
    justify-content: right;

    margin-right: -10px;

    border: 1px solid #4b9e5f;
    background-color: #18a058;
    color: #ffffff;
}

.dark-theme .confirm-box {
    background-color: #444654;
}
.dark-theme .confirm-btn-n {
    color: #ffffff;
    background-color: #444654;
}
.light-theme.confirm-btn-n {

}
.dark-theme .confirm-box::after  {
    border-top-color: #444654;
}
