body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


.parent {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    grid-template-columns: 200px repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: calc(100vh - 40px);

}


.div1 {
    grid-area: 1 / 1 / 5 / 2;
    background-color: #ffffff;
    width: 200px;
    border-top-left-radius: 6px;
    border-right: 1px solid #ccc;

}

.div2 {
    grid-area: 5 / 1 / 6 / 2;
    background-color: #ffffff;
    width: 200px;
    border-bottom-left-radius: 6px;
    border-right: 1px solid #ccc;
}

.div3 {
    grid-area: 1 / 2 / 6 / 5;
    border-right: 1px solid #ccc;

}

.input {
    width: calc(100% - 20px);
    height: calc(100vh - 75px);
    border: 2px solid #26b6b6;
    outline: none;
    font: 17px 微软雅黑;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;

}


.div4 {
    grid-area: 1 / 5 / 6 / 8;
    border-left: 1px solid #ccc;
}


.blue {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    /*position: absolute;*/

}

.black {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    /*position: absolute;*/

}

.white {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    /*position: absolute;*/

}

.red {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    /*position: absolute;*/

}

.green {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
    /*position: absolute;*/

}

.pink {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: pink;
    border-radius: 50%;
    /*position: absolute;*/

}

.yellow {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: yellow;
    border-radius: 50%;
    /*position: absolute;*/


}


.output {
    width: calc(100% - 20px);
    height: calc(100vh - 75px);
    border: 2px solid #26b6b6;
    outline: none;
    font: 17px 微软雅黑;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
}


.menu {
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: auto;
}

.menu-div {

    border: 1px solid #c2bfbf;
    border-radius: 6px;
    text-align: left;
    padding: 10px 20px;
    font: 14px 微软雅黑;
    height: 20px;
    margin-bottom: 10px;
    justify-content: center;
    flex-shrink: 0;
}

.menu-div.selected {
    border: 1px solid #4b9e5f;
    color: #4b9e5f;

}

.button-div {
    background-color: #ffffff;

    border: 1px solid #4b9e5f;
    font: 14px 微软雅黑;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    margin: 20px;
    transition: background-color 0.3s ease;
}

.button-div:hover {
    background-color: #1d8c65;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;

    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(178, 178, 178, 0.4);

    border-radius: 15px;
}

.color-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.color-buttons button {
    margin: 0 5px;
}

#image-container img {
    max-width: 100%; /* 限制图片宽度 */
    height: auto; /* 保持纵横比 */
}


@media screen and (max-width: 700px) {
    .menu, .input, .output {
        width: 100%;
    }
}


/* Custom scrollbar for Chrome, Safari, and Opera */
.div5::-webkit-scrollbar {
    width: 5px;
}

.div5::-webkit-scrollbar-track {
    background-color: transparent;
}

.div5::-webkit-scrollbar-thumb {
    background-color: rgba(178, 178, 178, 0.4);
    border-radius: 4px;
}

/* Custom scrollbar for Firefox */



.div5 {
    grid-area: 1 / 2 / 5 / 8;
    overflow-y: scroll;
    border-radius: 6px;
}

.div6 {
    grid-area: 5 / 2 / 6 / 8;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    padding-bottom: 20px; /* 添加此行 */
    justify-content: space-between;
    height: auto; /* 修改此行 */
}


#messageInput {
    padding: 10px;

    resize: none;
    height: 120px; /* 修改此行 */
    overflow-y: auto;
    width: calc(100% - 25px);
    margin-top: 8px;
    font: 14px 微软雅黑;
    border-radius: 6px;
    bottom: 0;
    top: 0;
    border: 1px solid #ccc; /* 添加此行 */
    outline: none; /* 添加此行 */
}

#messageInput:focus {
    border-color: green;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* 添加此行 */
}


.messageInputWrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: calc(100% - 5px);

    height: 100%; /* 修改此行 */

}


.chat {
    display: flex;
    margin: 5px;
    align-items: flex-start;
    border-radius: 6px;
}

.chat img {
    width: 38px;
    height: 38px;
    margin-right: 5px;
    border-radius: 6px;
}

.user {
    justify-content: flex-end;
}

.user img {
    margin-right: 0;
    margin-left: 5px;
    border-radius: 6px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
    position: relative; /* 添加此行 */
    font: 14px 微软雅黑;

}

.user .message {
    background-color: #d2f9d1;
}

.reply .message {
    background-color: #f4f6f8;
}

.user .message::after, .reply .message::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

.user .message::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #d2f9d1;
    border-right: none;
    top: 8px; /* 修改此处 */
    right: -4px; /* 修改此处 */
}

.placeholder-cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #000;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        visibility: hidden;
    }
}


.reply .message::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #f4f6f8;
    border-left: none;
    top: 8px; /* 修改此处 */
    left: -4px;
}

.copy-code-wrapper {
  position: absolute;
  top: 0;
  right: 4px;
  margin: 4px;
    font: 12px 微软雅黑;
    color: #000900;

}

.copy-code-wrapper:hover {
    color: #04912e;
}

.copy-code {
  cursor: pointer;
}

pre {
    position: relative;
    background-color: #fcfcfc;
    padding: 8px;
    border-radius: 3px;
    margin-top: 0;
    overflow-x: auto; /* 添加横向滚动条 */
    font-family: 'Segoe UI',Arial,'Microsoft Yahei',sans-serif; /* 修改为您喜欢的字体 */
  font-size: 14px; /* 修改为您喜欢的字号 */
  line-height: 1.5; /* 修改为您喜欢的行高 */

  }




code {
  font-family: 'Segoe UI',Arial,'Microsoft Yahei',sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
