<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>开心快乐每一天</title>
    <link rel="icon" href="../static/img/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">

</head>
<body>
    <h1 id="welcome"></h1>

    <footer>
    <p><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" class="beian-link">豫ICP备2023011688号-1</a></p>
    </footer>


    <script>
        var i = 0;
        var txts = ['开心快乐每一天']; // 这里添加你想要的句子
        var txt = txts[Math.floor(Math.random() * txts.length)]; // 随机选择一个句子
        var speed = 150;

        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("welcome").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            } else {
                i = 0;
                document.getElementById("welcome").innerHTML = '';
                txt = txts[Math.floor(Math.random() * txts.length)]; // 在每次循环结束时，重新选择一个句子
                setTimeout(typeWriter, speed);
            }
        }

        typeWriter();
    </script>
</body>
</html>
