<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小工具集</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/commen.css">

</head>
<body>
<div class="parent">
    <div class="div1">
        <div class="menu">
            <div class="menu-div selected" id="headerBtn">Headers 转换</div>
            <div class="menu-div" id="cookieBtn">Cookie 转换</div>
            <div class="menu-div" id="rsaBtn">税号密码解密</div>
            <div class="menu-div" id="dataBtn">Data 获取</div>
            <div class="menu-div" id="transBtn">AI 翻 译</div>
            <div class="menu-div" id="signBtn">打卡时间计算</div>
            <div class="menu-div" id="ocrBtn">OCR 文字识别</div>
            <div class="menu-div" id="chatBtn">ChatGPT(Beta)</div>


        </div>
    </div>
    <div class="div2">
        <div class="button-div" id="clearBtn">清空</div>
        <div class="button-div" id="copyBtn">复制</div>
        <div class="color-buttons">
            <button class="blue"></button>
            <button class="black"></button>
            <button class="white"></button>
            <button class="red"></button>
            <button class="green"></button>
            <button class="pink"></button>
            <button class="yellow"></button>
        </div>
    </div>

    <div class="div3">
        <textarea class="input" id="input"></textarea>
        <div class="input" contenteditable="true" id="image-container" style="display: none;"></div>
        <!-- 输入框内容 -->
    </div>

    <div class="div4">
        <textarea class="output" id="output"></textarea>
        <!-- 输出框内容 -->
    </div>

</div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/layer.js"></script>
<script src="../static/js/commen.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.0.0/jsencrypt.min.js"></script>
</body>
</html>